# ==========================================
# 1. Dependencies (Thư viện)
# ==========================================
node_modules/
/.pnp
.pnp.js

# ==========================================
# 2. Environment variables (Biến môi trường - TUYỆT ĐỐI KHÔNG PUSH)
# ==========================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example # Vẫn giữ lại file ví dụ để team biết cần những biến nào

# ==========================================
# 3. Logs (Lịch sử lỗi/chạy)
# ==========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# 4. Build / Compiled Output (Thư mục sau khi build)
# ==========================================
dist/
build/
out/
.next/
.nuxt/
.serverless/

# ==========================================
# 5. Testing & Caches (File test và bộ nhớ tạm)
# ==========================================
coverage/
.nyc_output/
.npm
.eslintcache
.stylelintcache
.parcel-cache
.cache/
*.tsbuildinfo

# ==========================================
# 6. OS & IDE Configs (Hệ điều hành & Code Editor)
# ==========================================
# OS
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/